<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleSidebar()" >
    <mat-icon>menu</mat-icon>
  </button>
  <span color="primary">GRP LPO Flow</span>

  <span class="example-spacer">
    {{ loggedInUserGreetings }}
  </span>
  &nbsp;&nbsp;
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with logout icon" (click)="onLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>