      <mat-nav-list>
        @for (group of menuItems; track group)
        {
        <ng-container>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>{{ group.group }}</mat-panel-title>
            </mat-expansion-panel-header>

            @for (item of group.items; track item)
            {
  
            <ng-container>
              <a mat-list-item [routerLink]="item.route" (click)="onMenuClick(item.title)" >
                <mat-icon>{{ item.icon }}</mat-icon>
                <span>{{ item.label }}</span>
              </a>
            </ng-container>
          }

          </mat-expansion-panel>
        </ng-container>
      }
      </mat-nav-list>
    
  

  
    
    