<br>
<div class="example-container mat-elevation-z8">
  @if (isLoadingResults) {
    <div class="example-loading-shade">
      @if (isLoadingResults) {
       <!-- <mat-spinner></mat-spinner>-->
       <ngx-spinner type="ball-scale-multiple"></ngx-spinner>

      }      
    </div>
  }

  <div class="example-table-container">

    <table mat-table [dataSource]="data" class="example-table"
           matSort matSortActive="LineNo" matSortDisableClear matSortDirection="asc">


          <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
       <th mat-header-cell *matHeaderCellDef>
         <!-- <mat-checkbox
            (change)="masterToggle()"
            [checked]="isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()">
          </mat-checkbox> -->
        </th> 
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="onCheckboxChange($event, row)"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
     
      <ng-container matColumnDef="LineNo">
        <th mat-header-cell *matHeaderCellDef>Line#</th>
        <td mat-cell *matCellDef="let row">{{row.LineNo}}</td>
      </ng-container>

    <!--  <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">{{row.Status}}</td>
      </ng-container>

      <ng-container matColumnDef="Job_Rowid">
        <th mat-header-cell *matHeaderCellDef>Invoice No</th>
        <td mat-cell *matCellDef="let row">{{row.Job_Rowid}}</td>
      </ng-container> 
     
     <ng-container matColumnDef="Cml_row_id">
        <th mat-header-cell *matHeaderCellDef>Row ID</th>
        <td mat-cell *matCellDef="let row">{{row.Cml_row_id}}</td>
      </ng-container> -->

      <ng-container matColumnDef="SupplierNumber">
        <th mat-header-cell *matHeaderCellDef>Supplier No</th>
        <td mat-cell *matCellDef="let row">{{row.SupplierNumber}}</td>
      </ng-container>

      
      <ng-container matColumnDef="SupplierName">
        <th mat-header-cell *matHeaderCellDef>Supplier Name</th>
        <td mat-cell *matCellDef="let row">{{row.SupplierName}}</td>
      </ng-container>

      
    <!--  <ng-container matColumnDef="TaskID">
        <th mat-header-cell *matHeaderCellDef>Task ID</th>
        <td mat-cell *matCellDef="let row">{{row.TaskID}}</td>
      </ng-container> -->

      <ng-container matColumnDef="Task_Description">
        <th mat-header-cell *matHeaderCellDef>Task Description</th>
        <td mat-cell *matCellDef="let row">{{row.Task_Description}}</td>
      </ng-container>  

      <ng-container matColumnDef="TotalCost">
        <th mat-header-cell *matHeaderCellDef>Total Cost</th>
        <td mat-cell *matCellDef="let row">{{row.TotalCost | number: '1.2-2' }}</td>
      </ng-container>

      <ng-container matColumnDef="VAT">
        <th mat-header-cell *matHeaderCellDef>VAT</th>
        <td mat-cell *matCellDef="let row">{{row.VAT | number: '1.2-2' }}</td>
      </ng-container>      

      <ng-container matColumnDef="TotalCostWithVAT">
        <th mat-header-cell *matHeaderCellDef>Total Cost With VAT</th>
        <td mat-cell *matCellDef="let row">{{row.TotalCostWithVAT | number: '1.2-2' }}</td>
      </ng-container>      

      <ng-container matColumnDef="Site">
        <th mat-header-cell *matHeaderCellDef>Site</th>
        <td mat-cell *matCellDef="let row">{{row.Site}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="pageSize" aria-label="Select page of LPO search results"></mat-paginator>

</div>

@if (resultsLength>0 && selectionLength>0 ){

  <div class="form-container">

    <div class="custom-sub-title"> Reset Posting</div>
    <br>
    
    <!-- Form Group -->
    <form [formGroup]="cmlResetPostingForm" (ngSubmit)="onSubmit()"> 
     
      
      <mat-form-field floatLabel="always">
        <mat-label>Total Invoice Value</mat-label>
       <b> <input matInput type="number" class="example-right-align" placeholder={{totalInvoiceValue.toFixed(2)}} /> </b>
        <span matTextPrefix>AED&nbsp;&nbsp;</span>
        <!--<span matTextSuffix>{{totalInvoiceValue}}</span>-->
      </mat-form-field>
  
      <mat-form-field floatLabel="always">
        <mat-label>Total VAT Value</mat-label>
        <input matInput type="number" class="example-right-align" placeholder={{totalVATValue.toFixed(2)}} />
        <span matTextPrefix>AED&nbsp;&nbsp;</span>
        <!--<span matTextSuffix>{{totalInvoiceValue}}</span>-->
      </mat-form-field>
  
      <mat-form-field floatLabel="always">
        <mat-label>Total Invoice Value With VAT </mat-label>
        <input matInput type="number" class="example-right-align" placeholder={{totalInvoiceValueWithVAT.toFixed(2)}} />
        <span matTextPrefix>AED&nbsp;&nbsp;</span>
        <!--<span matTextSuffix>{{totalInvoiceValue}}</span>-->
      </mat-form-field>
       
  
      <mat-form-field class="example-full-width" >
        <mat-label>Leave a remark</mat-label>
        <textarea matInput placeholder="" formControlName="remarks"></textarea>

        @if (cmlResetPostingForm.get('remarks')?.hasError('required')) {
          <mat-error>
            Remarks required!
          </mat-error>
        }

      </mat-form-field>
  
     
      <button mat-raised-button color="primary" [disabled]="!cmlResetPostingForm.valid">Submit</button>
    </form>
  </div>
  

}



<br>
